
<div class="topbar">
    <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Little Brother</a>
          <ul class="nav">
          </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
</div>
    
<footer>
    <p>&copy; <a target="_blank" href="http://localup.com">LocalUp</a> 2011</p>
    <p><img src="/made-in-baltimore.png" /></p>
</footer>
